<% provide(:title, "News") %>

<video playsinline autoplay="true" muted="true"  id="background_video" class="animated fadeIn">
	<source src="/videos/news_clip.mp4" type="video/mp4">
</video>

<div class="newsletter shadow">
	<div class="newsletter-1">
		<%= image_tag('news_1.png', size: '200x300') %>&nbsp;

		<div class="single-letter-1 animated fadeInUp">
			<%= image_tag('news_1.png', size: '450x625') %>
		</div>	
	</div>

	<div class="newsletter-2">
		<%= image_tag('news_2.png', size: '200x300') %>&nbsp;

		<div class="single-letter-2 animated fadeInUp">
			<%= image_tag('news_2.png', size: '450x625') %>
		</div>
	</div>

	<div class="newsletter-3">
		<%= image_tag('news_3.png', size: '200x300') %>

		<div class="single-letter-3 animated fadeInUp">
			<%= image_tag('news_3.png', size: '450x625') %>
		</div>
	</div>
</div>