<% provide(:title, "News") %>

<video playsinline autoplay muted id="background_video" class="animated fadeIn">
	<source src="/videos/news_clip.mp4" type="video/mp4">
</video>

<div class="newsletter shadow">
	<div class="newsletter-1">
		<%= image_tag('news_1.png', size: '200x300') %>

		<div class="single-letter-1 animated fadeInUp">
			<a href="http://www.wegscheidwebservices.com/assets/news_1-f6307e2097760358952f8d3a7e66a09c5e280617c7c0c85d6198d2f4a45926b8.png" ><%= image_tag('news_1.png', size: '400x550') %></a>
		</div>	
	</div>

	<div class="newsletter-2">
		<%= image_tag('news_2.png', size: '200x300') %>

		<div class="single-letter-2 animated fadeInUp">
			<a href="http://www.wegscheidwebservices.com/assets/news_2-b61da88482b7b0ab83ce8721668f3867af0dbfad9003f58c0905b9a51f8d3f5d.png" ><%= image_tag('news_2.png', size: '400x550') %></a>
		</div>
	</div>

	<div class="newsletter-3">
		<%= image_tag('news_3.png', size: '200x300') %>

		<div class="single-letter-3 animated fadeInUp">
			<a href="http://www.wegscheidwebservices.com/assets/news_3-db1a1d01f2b9b040845de0d11ec0ce7940115d1c7ca1e773b599d554fa74a919.png" ><%= image_tag('news_3.png', size: '400x550') %></a>
		</div>
	</div>
</div>