<% provide(:title, "News") %>

<video playsinline autoplay="true" muted="true"  id="background_video" class="animated fadeIn">
	<source src="/videos/news_clip.mp4" type="video/mp4">
</video>

<div class="newsletter shadow">
	<div class="newsletter-1"><%= image_tag('news_1.png', size: '200x300') %></div>
	<div class="newsletter-2"><%= image_tag('news_2.png', size: '200x300') %></div>
	<div class="newsletter-3"><%= image_tag('news_3.png', size: '200x300') %></div>

	<div class="hover-content">
		<div class="single-letter-1">
			<%= image_tag('news_1.png', size: '250x375') %>
		</div>	 

		<div class="single-letter-2">
			<%= image_tag('news_2.png', size: '250x375') %>
		</div>

		<div class="single-letter-3">
			<%= image_tag('news_3.png', size: '250x375') %>
		</div>
	</div>
</div>

