<% provide(:title, "News") %>

<% provide(:page_description, 'Learn about some of the events, promotions, or news that WWS has to offer.') %>

<% provide(:page, 'news') %>



<div class="background_image">
	<%= image_tag('fire-timelapse.jpg') %>
</div>









<div class="heading">
	<h2>Checkout our Newsletter</h2>
</div>



<div class="newsletter">
	<!-- Images used to open the lightbox -->
	<div class="info">
		<p>Click through to see some of what we having coming up this month</p>
	</div>

	<div class="row shadow-double">
	  <div class="column">
	  	<%= image_tag('september-newsletter/thumbnails/SeptNews-1.png', onclick: 'openModal();currentSlide(1)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-2.png', onclick: 'openModal();currentSlide(2)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-3.png', onclick: 'openModal();currentSlide(3)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-4.png', onclick: 'openModal();currentSlide(4)', class: 'hover-shadow') %>
	  </div>
	  	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-5.png', onclick: 'openModal();currentSlide(5)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-6.png', onclick: 'openModal();currentSlide(6)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-7.png', onclick: 'openModal();currentSlide(7)', class: 'hover-shadow') %>
	  </div>
	  <div class="column">
	    <%= image_tag('september-newsletter/thumbnails/SeptNews-8.png', onclick: 'openModal();currentSlide(8)', class: 'hover-shadow') %>
	  </div>
	</div>




	<!-- The Modal/Lightbox -->
	<div id="myModal" class="modal">
	  <span class="close cursor" onclick="closeModal()">&times;</span>
	  <div class="modal-content">

	    <div class="mySlides">
	      <div class="numbertext">1 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-1.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">2 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-2.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">3 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-3.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">4 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-4.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">5 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-5.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">6 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-6.png', style: 'width:100%;') %>
	    </div>

	    <div class="mySlides">
	      <div class="numbertext">7 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-7.png', style: 'width:100%;') %>
	    </div>
	    <div class="mySlides">
	      <div class="numbertext">8 / 8</div>
	      <%= image_tag('september-newsletter/full/SeptNews-8.png', style: 'width:100%;') %>
	    </div>



	    <!-- Next/previous controls -->
	    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	    <a class="next" onclick="plusSlides(1)">&#10095;</a>

	    <!-- Caption text -->
	    <div class="caption-container">
	      <p id="caption"></p>
	    </div>

	    <!-- Thumbnail image controls -->
	    <div class="thumbnail_area">
		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-1.png', onclick: 'currentSlide(1)', alt: 'September Newsletter Cover', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-2.png', onclick: 'currentSlide(2)', alt: 'September Newsletter Contents', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-3.png', onclick: 'currentSlide(3)', alt: 'We\'re Growing', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-4.png', onclick: 'currentSlide(4)', alt: 'WWS Advertising', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-5.png', onclick: 'currentSlide(5)', alt: 'Labelle Chamber of Commerce', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-6.png', onclick: 'currentSlide(6)', alt: 'Rocket Cooling', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-7.png', onclick: 'currentSlide(7)', alt: 'Living Word Christian School', class: 'demo') %>
		    </div>

		    <div class="column">
		      <%= image_tag('september-newsletter/small/SeptNews-8.png', onclick: 'currentSlide(8)', alt: 'Directory', class: 'demo') %>
		    </div>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		</div>
	  </div>
	</div>
</div>












<!-- SCRIPT -->


<script>
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

