<% provide(:title, "Portfolio") %>

<% provide(:page_description, 'Would you like to see some of the web sites we have built? Take a look at some of our work.') %>

<% provide(:page, 'portfolio') %>

<div class="background_image blur">
	<%= image_tag('fireworks-timelapse.jpg') %>
</div>




<div class="portfolio-title">
	<h1>Portfolio</h1>


	<h3>Check out some of our work.</h3>
</div>


<div class="portfolio shadow-double">




<!-- 	<div class="port_background_image">
		<%= image_tag('fireworks-timelapse.jpg') %>
	</div> -->


	<div class="site-list shadow-double">
		<table>

			<tr>
				<td><h2>Full Site Builds</h2></td>
				<td><p>&nbsp;</p></td>
			</tr>

<!-- 			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>
					<a href="http://lwmnfm.org"><%= image_tag('living_word_ministry_homepage.png', size: '600x350', alt: 'lori shula therapist site', class: 'shadow-double') %></a>
				</td>
				<td>
					<p>Living Word Ministry</p>
					<a href="http://lwmnfm.org">Click Here</a>
				</td>
			</tr> -->

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>
					<p>Living Word Christian School</p>
					<a href="https://lwcsnfm.org/">Click Here</a>
				</td>
				<td>
					<a href="https://lwcsnfm.org/"><%= image_tag('living_word_christian_school_screenshot.png', size: '600x350', alt: 'living word christian school site', class: 'shadow-double') %></a>
				</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>
					<a href="https://lorishulatherapist.com"><%= image_tag('lori_shula_therapist.png', size: '600x350', alt: 'lori shula therapist site', class: 'shadow-double') %></a>
				</td>
				<td>
					<p>Lori Shula Therapist</p>
					<a href="https://lorishulatherapist.com">Click Here</a>
				</td>
			</tr>


			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>
					<h2>Page Builds</h2>
					<h5>New pages built to <strong>your</strong> aesthetic style</h5>
				</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>

				<td>
					<a href="https://rocketcooling.com/financing/">
						<%= image_tag('rocket_cooling_page.png', size: '600x350', alt: 'Rocket Cooling Financing Page', class: 'shadow-double') %>	
					</a>
				</td>

				<td>
					<p>Rocket Cooling</p>
					<a href="https://rocketcooling.com/financing">Click Here</a>
				</td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>

			<tr>
				<td>
					<p>Rivers Edge Motel</p>
					<a href="http://www.theriversedgemotel.com/motel-overview/">Click Here</a>
				</td>
				<td>
					<a href="http://www.theriversedgemotel.com/motel-overview/">
						<%= image_tag('rivers_edge_motel_page.png', size: '600x350', alt: 'Rocket Cooling Financing Page', class: 'shadow-double') %>
					</a>
				</td>
			</tr>


		</table>
	</div>
</div>