<% provide(:title, 'Build a Site') %>

<video playsinline loop="true" autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/blue_flame.mp4" type="video/mp4">
</video>



<div class="packages shadow animated fadeInLeft">
	<div class="standard_package animated fadeIn" onclick="void(0)">
		<p>&nbsp;Standard Package</p>

		<div class="standard_dropdown animated fadeInLeft">
			<a href="http://www.wegscheidwebservices.com/assets/standard-ebebc648150a92573f076e3fa3419a33dd63e553cc4c30b6ce2b09dc7a28d9aa.png">
				<%= image_tag('standard.png', size: '575x400') %>
			</a>
		</div>
	</div>
	
	<div class="deluxe_package animated fadeIn" onclick="void(0)">
		<p>&nbsp;Deluxe Package</p>

		<div class="deluxe_dropdown animated fadeInLeft">
			<a href="http://www.wegscheidwebservices.com/assets/deluxe-eee708706d08e55bfe168bf1cf2c16d42c43caf8a176a73b12b625af011a3d19.png">
				<%= image_tag('deluxe.png', size: "575x400") %>
			</a>
		</div>
	</div>
	
	<div class="business_pro_package animated fadeIn" onclick="void(0)">
		<p>&nbsp;Business Pro Package</p>

		<div class="business_pro_dropdown animated fadeInLeft">
			<a href="http://www.wegscheidwebservices.com/assets/business_pro-68071b74e20c8ad4a7c872011f32518103ccbca1ce5e608f82f41feed416af53.png">
				<%= image_tag('business_pro.png', size: "575x400") %>
			</a>
		</div>
	</div>
</div>

<div class="services_info_background animated fadeInRight shadow" onclick="void(0)">
	<div class="services_info animated fadeIn">
		<p>Select from different layouts, color schemes, and responsive animations to make your webpage stand out.</p>
	</div>

	<div class="wireframes">
		<div class="wireframe_left animated fadeInRight">
			<%= image_tag('wireframe_color_left.png', :size => '255x450') %>
		</div>

		<div class="wireframe_right animated fadeInRight">
			<%= image_tag('wireframe_color_right.png', :size => '255x450') %>
		</div>	
	</div>
</div>