<!DOCTYPE html>
<html>
  <head>
    <title>Wegscheid Web Services</title>

    <link rel="stylesheet" href="animate.min.css">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/header' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
