<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <link rel="stylesheet" href="animate.min.css">
    <link rel="canonical" href="<%= declare_canonical(yield(:page)) %>">

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= meta_description(yield(:page_description)) %>"/>


    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="container" class="container">
      <%= yield %>
      <%= render 'layouts/header' %>

<!--       <%= debug(params) if Rails.env.development? %> -->
    <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
